{% extends "base.html" %}

{%block title%}Контактна форма{% endblock %}
{%block contact_form%}
<h1>Contact form</h1>
<form action="/login" method="post">
    <p>
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username">
    </p>
     <p>
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username">
    </p>
     <p>
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username">
    </p>
    <p>
        <input class="btn btn-primary" type="submit">
    </p>
</form>
{% endblock %}

