{% extends "base.html" %}

{%block title%}Коротка інформація{% endblock %}
{%block info%}
<img src="static/images/about.png">
<div class="info_about_me">
  Мене звати Юрчук Дмитро.<br>
  {% if month==4 and day==14 %}
  Мені сьогодні виповнилося {{age}} років.<br>
  {% else %}
  Мені {{age}}.<br>
  {% endif %}
  І я створив цю сторінку, щоб коротко розказати про себе.<br>
  Народився в м.Коломия 14.04.2001р.<br>
  Навчався у Коломийському ліцеї №6 імені Героя України Тараса Сенюка.<br>
  Після закінчення школи вступив до Прикарпатського національного університету імені Василя Стефаника, де навчаюся зараз.<br>
  Спеціальність: інженерія програмного забезпечення.<br>
  Курс: 3.<br>
</div>
{% endblock %}

